# Python : Loops

# 1. Print All Even Numbers Between 1 to 20 Using a For Loop
Objective:
Print all even numbers between 1 and 20 using a for loop.
# Sample Input:
Start: 1
End: 20
# Expected Output:
2 4 6 8 10 12 14 16 18 20

In [2]:
start = 1
end = 20

In [3]:
for num in range(start,end+1):
    if num % 2 == 0:
        print(num," ")

2
4
6
8
10
12
14
16
18
20

# 2. Print All Odd Numbers Between 1 to 20 Using a While Loop
Objective:
Print all odd numbers between 1 and 20 using a while loop.
# Sample Input:
Start: 1
End: 20
# Expected Output:
1 3 5 7 9 11 13 15 17 19

In [4]:
start = 1
end = 20

In [6]:
for num in range(start, end+1):
    if num % 2 != 0:
        print(num," ")

1
3
5
7
9
11
13
15
17
19

# 3. Check if a Number is Prime Using a For Loop
Objective:
Determine whether a given number is prime or not using a for loop.
# Sample Input:
Number: 29
# Expected Output:
29 is a Prime Number

In [58]:
num = int(input("Enter a number:"))
if num > 1:
    for i in range(2,num):
        if num % i == 0:
            print(f"{num} is not a prime number")
            break
    else:
         print(f"{num} is a prime number" )   
else:
    print(f"{num} is not a prime number")

Enter a number: 29

29 is a prime number

# 4. Merge Two Lists into a Dictionary Using a For Loop
Objective:
Combine two lists into a dictionary, where one list contains keys and the other contains values.
# Sample Input:
Keys: ["name", "age", "city"]
Values: ["Pavan", 25, "Bangalore"]
# Expected Output:
{'name': 'Pavan', 'age': 25, 'city': 'Bangalore'}

In [59]:
Keys = ["name", "age", "city"] 
Values = ["Pavan", 25, "Bangalore"]
mix_list ={}
for i in range(len(Keys)):
    mix_list[Keys[i]]=Values[i]
print(mix_list)

{'name': 'Pavan', 'age': 25, 'city': 'Bangalore'}

# 5. Find the Sum of Dictionary Values Using a While Loop
Objective:
Compute the sum of all values in a dictionary using a while loop.
# Sample Input:
{‘Teja’: 50000, 'Ved': 75000, 'Pavan': 60000}
# Expected Output:
Sum of Dictionary Values: 185000

In [97]:
sal_dict = {'Teja': 50000, 'Ved': 75000, 'Pavan': 60000}

In [98]:
values = list(sal_dict.values())

In [99]:
values

[50000, 75000, 60000]

In [100]:
total_sum = 0
i = 0

In [103]:
while i < len(values):
    total_sum += values[i]
    i += 1
print("sum of dictionary values", total_sum)

sum of dictionary values 185000

# 6. Flatten a Nested List Using a For Loop
Objective:
Convert a nested list into a single flattened list using a for loop.
# Sample Input:
[[1, 2, 3], [4, 5], [6, 7, 8, 9]]
# Expected Output:
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [107]:
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]

In [109]:
flat_lst = []
for sublist in nested_list:
    for item in sublist:
        flat_lst.append(item)
print(flat_lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# 7. Print a Right-Angled Triangle Pattern Using a For Loop
Objective:
Print a right-angled triangle pattern of stars.
# Sample Input:
Rows: 5
# Expected Output:
# *
# **
# ***
# ****
# *****

In [110]:
rows = 5
for i in range(1,rows+1):
    print('*'*i)

*
**
***
****
*****

# 8. Print a Square Pattern Using a Nested For Loop
Objective:
Print a square pattern of stars using a nested for loop.
# Sample Input:
Size: 4
# Expected Output:
# ****
# ****
# ****
# ****

In [127]:
rows = 4
for i in range(rows):
    print('*'*rows)

****
****
****
****

# 9. Print a Multiplication Table Using a Nested For Loop
Objective:
Generate and print a multiplication table from 1 to N using a nested for loop.
# Sample Input:
N: 5
# Expected Output:

In [130]:
i = 5
for j in range(1,11):
        print(f"{i}*{j}={i*j}")

5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

# 10. Implement a Simple Number Guessing Game Using a While Loop
Objective:
Create a number guessing game where the user attempts to guess the correct number within a given range.
# Sample Input:
Secret Number: 7
User Guess: trai1 - 5,trail2 - 9,trail3 - 7
# Expected Output:
Output for trail1 - Too low! Try again.
Output for trail2 - Too high! Try again.
Output for trail3 - Congratulations! You guessed the correct number.

In [ ]:
import random
secret_number = 7  
user_guess = None
attempt = 1  
while user_guess != secret_number:
    user_guess = int(input(f"Attempt {attempt}: Enter your guess: "))
    if user_guess < secret_number:
        print(f"Output for trial {attempt} - Too low! Try again.")
    elif user_guess > secret_number:
        print(f"Output for trial {attempt} - Too high! Try again.")
    else:
        print(f"Output for trial {attempt} - Congratulations! You guessed the correct number.")
        break  
    
    attempt += 1