# Section 1: Sets:
# 1.Create a Python set containing the first 10 even numbers {2, 4, 6,8,10}. Write a program to display this set.

In [4]:
even_list = [2,4,6,8,10,12,14,16,18,20]

In [5]:
even_list = set(even_list)

In [6]:
even_list

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

# 2.Set Operations Given two sets, write a Python program to find the union, intersection, and difference of these sets.

In [7]:
a = set([1,2,3,4,5])
b = set([4,5,6,7,8])

In [8]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [9]:
a.intersection(b)

{4, 5}

In [10]:
a.difference(b)

{1, 2, 3}

# 3.Set Operations and Methods Write a Python program that takes a set of numbers and performs the following operations:

In [43]:
numbers = {2, 4, 6, 8, 10}

# Add a new number to the set.

In [44]:
numbers.add(12)

In [45]:
numbers

{2, 4, 6, 8, 10, 12}

# Remove a number from the set.

In [46]:
numbers.remove(6)

In [47]:
numbers

{2, 4, 8, 10, 12}

# Check if a specific number is in the set.

In [48]:
print(8 in numbers)

True

# Find the size of the set.

In [49]:
len(numbers)

5

# 4.Set Operations with Lists Create a Python list with duplicate elements and convert it into a set to remove duplicates. Then, write a program to count # how many duplicates were removed.

In [51]:
lst_duplicates = [1, 2, 3, 4, 5, 3, 2, 6, 7, 1, 8]

In [52]:
print("Original list:", lst_duplicates)

Original list: [1, 2, 3, 4, 5, 3, 2, 6, 7, 1, 8]

In [54]:
set_without_duplicates = set(lst_duplicates)

In [55]:
set_without_duplicates

{1, 2, 3, 4, 5, 6, 7, 8}

In [56]:
duplicates_removed = len(lst_duplicates) - len(set_without_duplicates)

In [57]:
duplicates_removed

3

# 5.Describe Set and properties of Set with examples

SET:- set is a collection of unique elements and it does not allow duplicates.
Properties:
1.a set cannot contain duplicate elements
ex: A = {1,2,3,,4,4,5,6} simplifies to 
    A= {1,2,3,4,5,6,}
2. order dosent matter
   1,2,3 is same as 3,2,1
3. defined and well defined elements
ex: A = apple,banan,mango
4. finite and infinite sets a set with uncountable numbers and elements.
    A=1,2,3,4,5,6,7
    A= 1,2,3,4,5........
5. a set is mutable 
6. Empty set a set no elements represented as {}
Example:
A = {1, 2, 3}
A.add(4)  o/p A = {1, 2, 3, 4}
A.remove(2)  o/p A = {1, 3, 4}
# Union of two sets
B = {3, 4, 5}
C = A.union(B)  o/p C = {1, 3, 4, 5
# Intersection of two sets
D = A.intersection(B)  o/p D = {3, 4}

# Section 2 - Tuples:

# 1.Create a Python tuple containing the names of your favorite fruits. Write a Python program to print each fruit name from the tuple.

In [58]:
fev_fruits = ("apple", "banana", "cherry", "mango", "orange")

In [60]:
fr1,fr2,fr3,fr4,fr5 = fev_fruits

In [61]:
fr1

'apple'

In [62]:
fr2

'banana'

In [63]:
fr3

'cherry'

In [64]:
fr4

'mango'

In [65]:
fr5

'orange'

# 2. Operations Given two tuples, write a Python program to concatenate them into a single tuple and then find the length of the resulting tuple.

In [66]:
a = (1,2,3,4,)
b = (5,6,7,8,9)

In [67]:
a = list(a)
b = list(b)

In [68]:
a

[1, 2, 3, 4]

In [69]:
b

[5, 6, 7, 8, 9]

In [70]:
a.extend(b)

In [71]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [72]:
len(a)

9

In [73]:
a = tuple(a)

In [77]:
a

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [78]:
len(a)

9

# 4.Tuple and Set Conversion Write a Python program that takes a tuple of integers and converts it into a set. Then, find and print the maximum and minimum value from the set.

In [88]:
tup = (10,34,20,23,32,35,15,10)

In [89]:
tup

(10, 34, 20, 23, 32, 35, 15, 10)

In [90]:
set1= set(tup)

In [91]:
set1

{10, 15, 20, 23, 32, 34, 35}

In [93]:
max(set1)

35

In [94]:
min(set1)

10

# 5.Tuple Immutability Explain the concept of immutability in Python tuples with examples. Discuss why tuples are considered immutable data structures.

Tuples in Python are immutable data structures, meaning once a tuple is created, its contents cannot be changed. This immutability makes tuples useful for certain use cases where the integrity of the data needs to be preserved.

Tuples are considered immutable because:

No modification: You cannot change, add, or remove elements in a tuple after it is created.

Efficiency: Tuples are more memory efficient than lists. Since they cannot be changed, Python can optimize memory usage and performance when handling tuples.

Hashable: Because tuples are immutable, they can be used as keys in dictionaries, whereas lists (which are mutable) cannot be used as dictionary keys.

# 5.Tuple Slicing Given a tuple of 10 elements, write a Python program to print the elements from the 3rd to the 7th position using slicing

In [97]:
elements = (12,13,14,15,16,17,18,19,20,21,22,23,24,25)

In [98]:
elements

(12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25)

In [99]:
elements[3:8]

(15, 16, 17, 18, 19)

# 6.Tuple and Set Combinations Create a tuple containing the names of your friend's favorite movies and a set containing the names of your favorite movies. Write a Python program to find and display common elements

In [109]:
frnds_movies = ("taarezaminpar", "avtar","kgf","pushpa","vivah","fida")
my_movies = {"vivah","taarezaminpar", "fida", "ramayavastavaiya","kgf2","sanam teri kasam"}

In [110]:
common_movies = set(frnds_movies) & my_movies

In [111]:
common_movies

{'fida', 'taarezaminpar', 'vivah'}

# 7.tup=(1,2,3,2,4,5,3,4,2). Count the occurrences of element ‘2’ in the given tuple.

In [112]:
tup=(1,2,3,2,4,5,3,4,2)

In [113]:
tup

(1, 2, 3, 2, 4, 5, 3, 4, 2)

In [114]:
tup.count(2)

3

# 8.Access value 20 from the tuple, tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))

In [117]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))

In [119]:
value = tuple1[1][1]

In [120]:
value

20

# 9.Create a dictionary with key-value pairs for a person's name and age.
Add a new key-value pair "city" with the value "Delhi" to the person dictionary.
Remove the key-value pair with the key "age" from the person dictionary.
Sort the person's dictionary by its keys.

In [122]:
name = {"name": "vaish",
    "age": 22}

In [123]:
name["city"] ="bas"

In [125]:
del name["age"]

In [126]:
sorted_person = dict(sorted(name.items()))

In [127]:
sorted_person

{'city': 'Delhi', 'name': 'John'}