# Section 1: List
1. Create an empty list numbers. Append 10, 20, and 30 to it. Then change the second element to 25 and print the updated list.
Input:
numbers = []
Output:
[10, 25, 30]

In [26]:
numbers = []

In [27]:
numbers

[]

In [28]:
numbers.append(10)
numbers.append(20)
numbers.append(30)

In [29]:
numbers

[10, 20, 30]

In [34]:
numbers[1]=25

In [35]:
numbers

[10, 25, 30]

# 2. Given a list colors, retrieve and print the first and last elements using indexing.
Input:
colors = ['red', 'blue', 'green', 'yellow']
Output:
red
yellow

In [41]:
colors = ['red', 'blue', 'green', 'yellow']

In [42]:
print(colors)

['red', 'blue', 'green', 'yellow']

In [43]:
colors[::3]

['red', 'yellow']

# 3. Slice the list fruits to extract only 'banana' and 'orange'.
Input:
fruits = ['apple', 'banana', 'orange', 'grapes', 'mango']
Output:
['banana', 'orange']

In [44]:
 fruits = ['apple', 'banana', 'orange', 'grapes', 'mango']

In [45]:
print(fruits)

['apple', 'banana', 'orange', 'grapes', 'mango']

In [46]:
fruits[1:3]

['banana', 'orange']

# 4. Reverse the given list using slicing.
Input:
numbers = [1, 2, 3, 4, 5]
Output:
[5, 4, 3, 2, 1]

In [47]:
numbers = [1, 2, 3, 4, 5]

In [49]:
numbers[::-1]

[5, 4, 3, 2, 1]

# 5. Count how many times 'apple' appears in the list.
Input:
fruits = ['apple', 'banana', 'apple', 'orange', 'apple']
Output:
3

In [50]:
fruits = ['apple', 'banana', 'apple', 'orange', 'apple']

In [51]:
fruits.count('apple')

3

# 6. Combine two lists into one.
Input:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
Output:
[1, 2, 3, 4, 5, 6]

In [60]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

In [61]:
list1.extend(list2)

In [63]:
print(list1)

[1, 2, 3, 4, 5, 6]

# 7. Insert 'watermelon' at index 2 in the list.
Input:
fruits = ['apple', 'banana', 'orange', 'mango']
Output:

In [90]:
fruits = ['apple', 'banana', 'orange', 'mango']

In [91]:
fruits.insert(2,'watermelon')

In [92]:
fruits

['apple', 'banana', 'watermelon', 'orange', 'mango']

# 8. Remove 'orange' from the updated fruits list

In [93]:
fruits.remove('orange')

In [94]:
fruits

['apple', 'banana', 'watermelon', 'mango']

# 9. Remove the third element from the updated fruits list.

In [95]:
del fruits[2]

In [96]:
fruits

['apple', 'banana', 'mango']

# 10. Access 6000 from the nested list.
Input:
nested_list = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

In [97]:
nested_list = [10,20,[300,400,[5000,6000],500],30,40]
print(nested_list)

[10, 20, [300, 400, [5000, 6000], 500], 30, 40]

In [98]:
nested_list[2][2][1]

6000

# 11. Add 7000 after 6000 inside the nested list.
Input:
nested_list = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
Output:
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40

In [100]:
nested_list = [10,20,[300,400,[5000,6000],500],30,40]
print(nested_list)

[10, 20, [300, 400, [5000, 6000], 500], 30, 40]

In [101]:
nested_list[2][2].append(7000)
print(nested_list)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

# 12. Replace the first occurrence of 20 with 200.
Input:
numbers = [5, 10, 15, 20, 25, 50, 20]
Output:
[5, 10, 15, 200, 25, 50, 20]

In [103]:
numbers = [5,10,15,20,25,50,20]
print(numbers)

[5, 10, 15, 20, 25, 50, 20]

In [104]:
numbers[3] = 200
print(numbers)

[5, 10, 15, 200, 25, 50, 20]

# 13. Find the second-largest number in a list after removing duplicates.
Input:
numbers = [10, 20, 4, 45, 99, 99, 98]
Output:
98

In [105]:
numbers = [10,20,4,45,99,99,98]
print(numbers)

[10, 20, 4, 45, 99, 99, 98]

In [106]:
num1 = set(numbers) 
print(num1)

{98, 99, 4, 10, 45, 20}

In [108]:
num2 = sorted(num1)
print(num2)

[4, 10, 20, 45, 98, 99]

In [109]:
num2.reverse()
print(num2)

[99, 98, 45, 20, 10, 4]

In [110]:
num2[1]

98