# 1: Restaurant Menu Storage
# Create a dictionary where dish names serve as keys and their prices as values. Display the menu in a user-friendly format.
# Input:
 Dishes = ["Pasta", "Biryani", "Apricot"]
Prices = [200, 300, 180]
# Expected Output:
 {“Pasta” : 200, ”Biryani” : 300, “Apricot” : 180}

In [3]:
dct = {}

In [4]:
print(dct)

{}

In [6]:
dct ["Pasta"] = 200
print(dct)

{'Pasta': 200}

In [8]:
dct ["Biryani"] = 300
print(dct)

{'Pasta': 200, 'Biryani': 300}

In [10]:
dct ["Apricot"] = 180
print(dct)

{'Pasta': 200, 'Biryani': 300, 'Apricot': 180}

# 2: English-to-Spanish Translation Dictionary
Create a dictionary for English-to-Spanish translations and return the Spanish equivalent of a given English word.
# Input:
dictionary = {
    "Hello": "Hola",
    "Thank You": "Gracias",
    "Goodbye": "Adiós"}
# Given word = "Hello"
Expected Output:
Hola

In [11]:
dictionary = { "Hello": "Hola", "Thank You": "Gracias", "Goodbye": "Adiós"}

In [14]:
print(dictionary)

{'Hello': 'Hola', 'Thank You': 'Gracias', 'Goodbye': 'Adiós'}

In [18]:
dictionary["Hello"]

'Hola'

# 3: Student Grade Management
Store student names and grades in a dictionary, allowing users to enter data and calculate the class average.
# Input:
grades = {
    "Ved": 85,
    "Teja": 90,
    "Pavan": 78
}
# Expected Output:
Average Grade: 84.3

In [32]:
grades = { "Ved": 85, "Teja": 90, "Pavan": 78 }

In [33]:
average_grades = sum(grades.values()) / len(grades)

In [39]:
print("Average Grade:",average_grades)

Average Grade: 84.33333333333333

# 4: Employee Salary Management
Create a dictionary where employee names are keys and salaries are values. Identify the employee with the highest salary.
# Input:
salaries = {
    "Ved": 60000,
    "Pavan": 75000,
    "Teja": 50000
}
# Expected Output:
Highest Salary: Pavan - ₹75000

In [40]:
salaries = { "Ved": 60000, "Pavan": 75000, "Teja": 50000 }

In [41]:
print(salaries)

{'Ved': 60000, 'Pavan': 75000, 'Teja': 50000}

In [42]:
high_sal_emp = max(salaries,key=salaries.get)

In [43]:
high_sal_emp

'Pavan'

In [44]:
high_salary = salaries[high_sal_emp]

In [45]:
high_salary

75000

In [50]:
print(f"Highest salary:{high_sal_emp}-₹{high_salary}")

Highest salary:Pavan-₹75000

# 5: Inventory Management System
Store product names and stock quantities in a dictionary, and implement a function to check stock availability for a given product.
# Input:
inventory = {
    "Laptop": 5,
    "Mouse": 20,
    "Keyboard": 15
}
Given product = "Mouse"
# Expected Output:
Mouse is available: 20 in stock.

In [53]:
inventory = {"Laptop":5,"Mouse":20,"Keyboard":15}

In [54]:
print(inventory)

{'Laptop': 5, 'Mouse': 20, 'Keyboard': 15}

In [55]:
item = "Mouse"
if item in inventory:
    print(f"{item} is available : {inventory[item]} in stock")
else:
    print(f"{item} is not available")

Mouse is available : 20 in stock

# 6: Word Frequency Counter
Given a paragraph of text, count the frequency of each unique word and store it in a dictionary.
# Input:
text = "apple banana apple orange banana apple"
# Expected Output:
{'apple': 3, 'banana': 2, 'orange': 1}

In [56]:
text = "apple banana apple orange banana apple"

In [57]:
print(text)

apple banana apple orange banana apple

In [59]:
word = text.split()
print(word)
frts = {}
for fruit in word:
    frts [fruit] = frts.get(fruit,0)+1
print(frts)

['apple', 'banana', 'apple', 'orange', 'banana', 'apple']
{'apple': 3, 'banana': 2, 'orange': 1}

# 7: Customer Order Management
Manage customer orders using a dictionary where the key is the order number, and the value is a list of ordered items.
# Input:
orders = {
    "1001": ["Burger", "Fries"],
    "1002": ["Pizza", "Soda"]
}
order_id = "1001"
# Expected Output:
1001 contains 2 items, they are Burger and Fries

In [60]:
orders = {
    "1001": ["Burger", "Fries"],
    "1002": ["Pizza", "Soda"]
}
print(orders)

{'1001': ['Burger', 'Fries'], '1002': ['Pizza', 'Soda']}